body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0; /* Default background color for other pages */
}

.login-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/public/loginwallpaper.jpg') no-repeat center center fixed;
    background-size: cover;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 240, 240, 0.8); /* Added slight transparency */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.login h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 2rem;
    font-weight: 500;
}

.login form {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    max-width: 90%;
    text-align: center;
}

.login form div {
    margin-bottom: 20px;
    width: 100%;
}

.login label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    font-size: 0.9rem;
}

.login input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1rem;
    background: #f9f9f9;
    transition: border-color 0.3s;
}

.login input:focus {
    border-color: #4CAF50;
    outline: none;
}

.login button {
    width: 100%;
    padding: 12px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.login button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.login button:active {
    background-color: #3e8e41;
    transform: translateY(0);
}
