/* Navbar styling */
.navbar {
    background-color: black;
    color: #fff;
    padding: 25px 10px; 
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

/* Brand styling */
.navbar-brand {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-decoration: none; 
    display: flex;
    align-items: center;
}

.navbar-logo {
    height: 40px; 
    margin-right: 15px;  /* Space between Logo and Text */
}

/* Navigation items container */
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Align nav items in a row */
    align-items: center; /* Center items vertically */
}

/* Individual nav item */
.nav-item {
    margin-right: 35px; 
}

/* Nav link styling */
.nav-link {
    color: white;
    text-decoration: none;
    font-size: 20px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0px;
    transition: color 0.3s; /* HOVER EFFECT */
}

.nav-link:hover {
    color: #aaaaaa; /* Hover Color */
}

.nav-item.active .nav-link {
    color: #ffffff; 
    font-weight: bold; 
}

/* Sign-out button styling */
.logout-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    padding: 0;
    transition: color 0.3s; /* HOVER EFFECT */
}

.logout-button:hover {
    color: #aaaaaa; /* Hover Color */
}
